<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label class="col-xs-6" for="username">Username</label>
            <input type="text" id="username" ngModel name="username" required #name="ngModel" class="form-control">
            <span *ngIf="!name.valid && name.touched" class="help-block ">Please Input A Username</span>
          </div>
          <button class="btn btn-default" type="button">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" ngModel name="email" #email="ngModel" required email class="form-control">
            <span *ngIf="!email.valid && email.touched" class="help-block">Please Input Valid Email</span>
          </div>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User Data Invalid</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" [ngModel]="'pet'" name="secret" class="form-control">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer" [(ngModel)]="answer" rows="3"></textarea>
        </div>
        <p>Your Reply: {{ answer }}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" required [ngModel] = "'male'" [value]="gender">{{ gender }}
          </label>
        </div>
        <button class="btn btn-primary" [disabled]="!f.valid" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>