<label>Server Name</label>
<!-- <input class="form-control" (input)="onUpdateServerName($event)"> -->
<!-- <p>This is Two Way Data Binding</p> -->
<input class="form-control" [(ngModel)]="serverName">
<!-- <p>{{ ServerName }}</p> -->
<div [hidden]="buttonHidden">
    <button class="btn btn-primary">This Button Will Hide in 3 seconds</button><br><br>
</div>
<button class="btn btn-primary" [disabled]="!buttonDisable" (click)="onCreateServer()">This Button Will Enabled in 3
    seconds</button>
<!-- <p [innerHTML]="buttonDisable"></p> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
    <p>No server was Created</p>
</ng-template>
<app-server></app-server>
<app-server></app-server>